
body{
    font-family: Helvetica, Arial, sans-serif;
}

#chord{
  height: 100px;
  position: absolute;
  top:50%;
  margin-top:-150px;
  width:100%;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 64px;
}

.space {
    border: 1px solid #aaa;
    font-size: 24px;
    font-weight: 100;
    color: #aaa;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 15px;
    vertical-align: middle;
}